@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  height: 100;
}

body {
  background-color: rgb(57, 57, 223);
}

.font {
  font-family: 'Rock Salt', cursive;
  font-size: 70px;
  color: whitesmoke;
  text-align: center;
}

.subtitle {
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: wheat;
  text-align: center;
  margin-bottom: 50px;
}

.card-image {
  width: 100%;
  height: 260x;
}

.card {
  width: 80%;
  justify-content: center;
  margin: 0px auto;
}

.quote-text{
  font-family: 'VT323', monospace;
  font-size: 35px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}

.kanye-decide-song {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: midnightblue;
}

.backButton {
  font-family: 'Rock Salt', cursive;
  font-size: small;
  background-color: navajowhite;
  color: black;
  
}
