@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: #e0e0e0;
  height: 100%;
}

.font {
    font-family: 'Rock Salt', cursive;
}

.header {
    font-size: 70px;
    color: white;
    text-align: center;
    margin: 60px 0 70px 0;
}

h5 {
    color: #ff80ab;
}

.subtitle {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 7px 0px 7px 0px;
  margin-bottom: 63px;
}

.card-image {
  width: 100%;
}

.image-2,
.image-1 {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card {
  width: 80%;
  justify-content: center;
  margin: 0px auto;
  height: 320px;
}

.card-text {
  height: 44px;
}

.input-field {
  height: 60px;
}

.page-footer {
  bottom: 0;
  width: 100%;
  padding: 2px 0 2px 0;
  margin-top: 30px;
  text-align: center;
  color: #e0e0e0;
}

#recentSearch {
  justify-content: center;
  margin: 0px auto;
}

/* kanye_result.js */
.quote-text{
  font-family: 'VT323', monospace;
  font-size: 35px;
  color: #ff80ab;
  text-align: center;
}

.kanye-decide-song {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: #0d47a1;
}

.kanye-btn {
    font-family: 'Rock Salt', cursive;
    width: 90%;
    background-color: #ff80ab;
}

.user-btn {
    font-family: 'Rock Salt', cursive;
    width: 80%;
    background-color: #ff80ab;
}

.saved-btn {
  font-family: 'Rock Salt', cursive;
  width: 60%;
  background-color: #ff80ab;
}

#user-choice-results {
    color: #0d47a1;
}

.backButton {
  font-family: 'Rock Salt', cursive;
  font-size: small;
  background-color: #ff80ab;
  color: whitesmoke;
  width: 300px;
  margin: 2rem 0 4rem 0;
}

.saved-btn:hover,
.user-btn:hover,
.kanye-btn:hover,
.user-btn:hover,
.backButton:hover {
  cursor: pointer;
  color: #ff80ab;
  background-color: white;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  @media only screen and (max-width: 430px) {
    .header {
      font-size: 50px;
    }
    .card-1 {
      margin-bottom: 130px;
    }
  }
  @media only screen and (max-width: 380px) {
    .header {
      font-size: 45px;
    }
  }
  @media only screen and (max-width: 325px) {
    .header {
      font-size: 40px;
    }
  }