@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  height: 100;
}

body {
  background-color: rgb(26, 26, 153);
}

.font {
  font-family: 'Rock Salt', cursive;
  font-size: 70px;
  color: whitesmoke;
  text-align: center;
}

.subtitle {
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: wheat;
  text-align: center;
  margin-bottom: 50px;
}

.card-image {
  width: 100%;
  height: 260x;
}

.card {
  width: 80%;
  justify-content: center;
  margin: 0px auto;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: gray;
  padding-top: 3px;
}

.white-text {
  text-align: center;
}

/* kanye_result.js */
.quote-text{
  font-family: 'VT323', monospace;
  font-size: 35px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}

.kanye-decide-song {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: midnightblue;
}

.backButton {
  font-family: 'Rock Salt', cursive;
  font-size: small;
  background-color: navajowhite;
  color: black;  
}

.backButton:hover {
  cursor: pointer;
}
